@page
@inherits Qinweir.Web.Pages.QinweirPage
@model Qinweir.Web.Pages.OrderMaterials.CreateModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    ViewData["Title"] = "Create";
}
@section scripts
{
    <abp-script src="/Pages/OrderMaterials/create.js" />
}
<h1>Create</h1>

<abp-card>
    <!-- <form action="Create" id="orderForm" method="post"> -->

    <abp-card-header>
        <abp-row>
            <abp-column size-md="_4">
                <h2>下单时间</h2>
                <span><input id="time" /></span>
            </abp-column>
            <abp-column size-md="_4">
                <h2>下单门店</h2>
                <span><input id="shop" /></span>
            </abp-column>

        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="BooksTable" name="" method="post">
            <thead>
                <tr>
                    <th>@L["Id"]</th>
                    <th>@L["MaterialsType"]</th>
                    <th>@L["MaterialsName"]</th>
                    <th>@L["Units"]</th>
                    <th>@L["MaterialCount"]</th>
                    <th>@L["Remark"]</th>

                </tr>
            </thead>
            @{int i = 0;}
            @foreach (var item in Model.materialNames)
            {
                i++;
                <tr id=@i>
                    <th>@Html.DisplayName(item.Id.ToString())</th>
                    <th>@Html.DisplayName(item.MaterialsType)</th>
                    <th>@Html.DisplayName(item.MaterialsName)</th>
                    <th>@Html.DisplayName(item.units)</th>
                    <th>@Html.TextBox("count")</th>
                    <th>@Html.TextBox("remark")</th>
                </tr>
            }

        </abp-table>

    </abp-card-body>

    <input type="submit" id="save" onclick="postOrder()" value="保存">
    <!-- </form> -->
</abp-card>

@*<script>

    $(function () {
        $("#save").click(function () {//一条一条加入记录
            var trList = $("BooksTable").find("tr");
            //表头不用，所以i从1开始
            for (var i = 1; i < trList.length; i++) {
                var trArr = trList.eq(i);
                var pno = trArr.children("td").eq(0).text();//获奖编号
                var pname = trArr.children("td").eq(1).text();//获奖名称
                var pyear = trArr.children("td").eq(2).text();//  获奖年份
                var pno1 = trArr.children("td").eq(3).text();//获奖编号
                var pname2 = trArr.children("td").eq(4).text();//获奖名称
                var pyear3 = trArr.children("td").eq(5).text();//  获奖年份
                var 
                $.post("stuPrizeServlet", { pno: pno, pname: pname, pyear: pyear }, function (data) {
                    //处理服务器响应的数据data  flag:true errorMsg:注册成功
                    if (data.flag) {
                        //如果注册成功,跳转到成功页面
                        $("#save_res").html("保存成功！");
                        // location.href = "http://localhost/suiningAdmissions/category4_5.html";
                        // alert("保存成功！")
                    } else {
                        //注册失败
                        $("#errorMsg").html(data.errorMsg);
                    }

                }, "json");
            }
        });

    })




</script>*@